@import "tailwindcss";

@theme {
  --color-lumenis: #8C0303;
  --color-lumenis-deep: #0D0D0D;
  --color-lumenis-dark: #260101;
  --color-lumenis-medium: #400101;
  --color-lumenis-bright: #730202;

  --color-lumenis-text: #E6E6E6;
  --color-lumenis-accent: #FF5733;
}